*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
h2{
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 10px 0;
}
img {
  border: 5px solid black;
  border-left: 0;
  margin-bottom: 7px;
}
article p strong {
  font-size: 23px;
}
.first{
  color: #444;
}
.second {
  font-weight: bold;
  font-size: 18px;
    margin-bottom: 10px;
}
a:any-link {
  color: black;
}
a:hover {
  text-decoration: none;
}
ul {
  margin-left: 17px;
  margin-bottom: 20px;
}
li{
  list-style: square;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}
button{
  background-color: black;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border:solid black;
  border-width: 3px 3px 0 0;
  padding: 15px auto;
  width: 100%;
  height: 40px;
  
}
button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
article {
    width: 820px;
  border: 5px solid black;
  margin: 50px auto;
}