* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  /*   margin-top: 20px; */
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 10px 0;
}
img {
  border: 5px solid black;
  border-left: 0;
  border-bottom: 0;
  /*   margin-bottom: 7px; */
  height: 250px;
}
article p strong {
  font-size: 23px;
}
.first {
  color: #444;
}
.second {
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 300px;
}
a:any-link {
  color: black;
}
a:hover {
  text-decoration: none;
}
ul {
  margin-left: 17px;
  margin-bottom: 20px;
  /*   background-color: red; */
}
li {
  list-style: square;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  line-height: 30px;
}
button {
  background-color: black;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: solid black;
  border-width: 3px 3px 0 0;
  padding: 15px auto;
  width: 100%;
  height: 40px;
}
button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
article {
  width: 820px;
  border: 5px solid black;
  margin: 50px auto;
  position: relative;
}
.sale {
  position: absolute;
  background-color: red;
  font-weight: bold;
  padding: 3px 10px;
  color: white;
  top: -12px;
  left: -34px;
  letter-spacing: 2px;
}

span {
  /*   display: inline-block; */
  border: 0 solid black;

  /*   margin: 5px ; */
  flex: 0 0 20px;
}

.color {
  margin-top: 30px;
  /*   background-color: #f7f7f7; */
  display: flex;
  /*   width: 400px; */
  gap: 10px;
}
.black {
  background-color: black;
  color: black;
  margin-left: 0;
}
.blue {
  background-color: blue;
  color: blue;
}
.red {
  background-color: red;
  color: red;
}
.yellow {
  background-color: yellow;
  color: yellow;
}
.lime {
  background-color: lime;
  color: lime;
}
.brown {
  background-color: brown;
  color: brown;
  margin-right: 0;
}

.flex-container {
  gap: 35px;
  /*   background-color:red; */
  display: flex;
  /*   justify-content: space-between; */
  /*   align-items: center; */
}

.flex-item {
  /*background-color: red; */
  /*   flex: 0 1 auto; */
  margin-top: 30px;
  align-items: stretch;
  flex: 1;
}

.price-tag {
  /*   background-color: red; */
  gap: 80px;
  display: flex;
  align-items: center;
  /*   justify-content: space-between; */
}
